// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background-color: white;
$brand-color: #fb8500;
$element-color: #2fd1f950;

$text-color: black;
$text-contrast-color: #219ebc;
