// Specific CSS for your home-page
.dd-feature-container{
  font: $body-font;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  width: 100%;
  padding: 100px 0px;
}

// .feature-top, .feature-bottom{
//   display: flex;
//   justify-content: center;
// }

.desc-section{
  padding: 10px, 15px;
}

.desc-top{
  display:flex;
  justify-content: space-between;
}

.dd-brief-container{
  background-color: $background-color;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: $body-font;
  padding: 70px 0px 50px 0px;
  & h3{
    font-family: $body-font;
    padding: 30px 0px;
  }
  & p{
    font-size: 28px;
  }
}

.dd-contactform{
  margin-bottom: 50px;
}

.form-control:hover{
  background-color: $form-color;
  border: solid 1px black;
  border-radius: 0;
}

.row{
  margin:0;
}
.form-inputs{
  padding-left: 0;
  padding-right: 0;

  & input{
    font-style: italic;
    border-color: none;
    border-radius: 0;
  }
}

#comment-box{
  height: 200px;
}

.number{
  font-size: 200px;
  font-weight: bold;
  color: $brand-color;
  opacity: 20%;
}

.desc-image{
width:100%;
opacity: 90%;
}
