// Specific CSS for your home-page
.dd-feature-container{
  font: $body-font;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  width: 100%;
  padding: 100px 0px;
}

// .feature-top, .feature-bottom{
//   display: flex;
//   justify-content: center;
// }


.dd-brief-container{
  background-color: $background-color;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: $body-font;
  padding: 70px 0px 50px 0px;
  & h3{
    font-family: $body-font;
    padding: 24px 0px;
  }
}



.dd-contactform{
  margin-bottom: 50px;
}

.form-control:hover{
  background-color: $form-color;
  border: solid 1px black;
  border-radius: 0;
}

.row{
  margin:0;
}
.form-inputs{
  padding-left: 0;
  padding-right: 0;

  & input{
    // font-style: italic;
    border-color: none;
    border-radius: 0;
  }
}

.form-inputs > button{
  background-color: white;
  border: solid 1px black
}

#comment-box{
  height: 200px;
}

.number{
  font-size: 200px;
  font-weight: bold;
  color: $brand-color;
  opacity: 20%;
}

.desc-section{
  text-align: justify;
}

.desc-top{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.desc-icon{
  margin-right: 20px;
}

.desc-image{
width:100%;
opacity: 90%;
text-align: center;
}

.desc-text{
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.process-right {
  text-align:center;
  margin-top: 15px;
}
