// Specific CSS for your home-page
.dd-feature-container{
  font: $body-font;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  width: 100%;
  padding: 60px 0px 0px 0px;
}

// .feature-top, .feature-bottom{
//   display: flex;
//   justify-content: center;
// }


.dd-brief-container{
  background-color: $background-color;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: $body-font;
  padding: 80px 0px 30px 0px;
  & h3{
    font-family: $body-font;
    padding: 24px 0px;
  }
}

.dd-contact-container{
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: $body-font;
  padding: 10px 0px 10px 0px;
  margin-bottom: 30px;
  & h3{
    font-family: $body-font;
    padding: 24px 0px;
  }
}



.dd-contactform{
  margin-bottom: 50px;
}

.form-control{
  border: solid 1px $button-color;
}
.form-control:hover{
  background-color: $form-color;
}

.row{
  margin:0;
}
.form-inputs{
  padding: 2px;

  & input{
    // font-style: italic;
    border: solid 1px $button-color;
  }
}

.form-inputs > button{
  background-color: $button-color;
  border: solid 2px $button-color;
  padding: 6px 18px;
  margin: 12px 0;
  border-radius: 4px;
  color: white;
}

.form-inputs > button:hover{
  background-color: transparent;
  border: solid 2px $button-color;
  padding: 6px 18px;
  margin: 12px 0;
  border-radius: 4px;
  color: $button-color;
}

#comment-box{
  height: 150px;
}

.number{
  font-size: 200px;
  font-weight: bold;
  color: $brand-color;
  opacity: 20%;
}

.desc-section{
  text-align: justify;
}

.desc-top{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.desc-icon{
  margin-right: 20px;
}

.desc-image{
width:100%;
opacity: 90%;
text-align: center;
}

.desc-text{
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.process-right {
  text-align:center;
  margin-top: 15px;
}
