// Import page-specific CSS files here.
@import "home";


.activity-btn{
  display: flex;
  align-items: center;
  // justify-content: space-around;
  border-radius: 10px;
  }


#sleepbutton, #foodbutton, #healthbutton, #playbutton{
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  background-color: $form-color;
  color: $button-color;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, .05);
    & i {
      font-size: 25px;
    }
    & .fas-text{
    font-size: 12px;
    margin: 0;
  }
}

#momentbutton {
  width: 200px;
  height: 70px;
  padding: 0;
  border-radius: 6px;
  border-color: white;
  background-color: white;
  color: black;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, .06);
    & i {
      font-size: 25px;
    }
}

#addbutton{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  background-color: rgb(129, 129, 129);
  color: white;
}

.normal-left{
  // padding: 12px;
  font-weight: 600;
  margin: 12px;
}

.normal-right{
  display: flex;
  margin: 0;
  padding: 0;
  width: 30%;
  justify-content: space-between;
}

.daycare-children{
  width: 100%;
  padding:5px 20px;
  background-color: white;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, .06);
  display: flex;
  justify-content: space-between;
  color:$element-color;
  border-radius: 8px;
  margin-top: 15px;
}

.daycare-title{
  width: 100%;
  padding:5px 20px;
  background-color: white;
  // border: solid 1px $element-color;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, .06);
  display: flex;
  flex-direction: column;
  color:$element-color;
  border-radius: 8px;
}


h5{
  font-family: $body-font;
  margin:0;
}

.daycare-children{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile-square{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.daycare-header{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.child-card{
  background-color: transparent;
  border: solid 1px $button-color;
  border-radius: 50px;
  padding: 10px 20px;
}
