<div class="footer">
  <div class="footer-top">
    <div class = "footer-links">
      <a href="">Contact us</a>
      <a href="">About us</a>
      <a href="">Jobs</a>
      <a href="">Press</a>
      <a href="">Our Terms and Conditions of Use</a>
      <a href="">Privacy</a>
    </div>

    <div class = "float-right">
      <a href=""><i class="fab fa-instagram-square"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-twitter-square"></i></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p><%= "© 2021 Team Daycare Diary" %></p>
  </div>
</div>
