<!-- Image and text -->
<div class="navbarcontainer">
  <% if user_signed_in? %>
    <nav>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Daycare Diary
        </button>
        <% if @user.role == "employee" %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Avatar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">My profile</a>
              <a class="dropdown-item" href="#">My messages</a>
              <a class="dropdown-item" href="#">My profile</a>
              <a class="dropdown-item" href="#">Messages</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </div>
        <% elsif @user.role == "parent" %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Avatar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">My profile</a>
              <a class="dropdown-item" href="#">@child.name</a>
              <a class="dropdown-item" href="#">Messages</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </div>
        <%end%>  
      </div>
    </nav>
  <%else%>
    <nav>
      <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Daycare Diary
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">About this app</a>
          <a class="dropdown-item" href="#">Legal Information</a>
          <a class="dropdown-item" href="#">Contact Information</a>
        </div>
      </div>
      <div>
        <a class="btn btn-warningy" href="/users/sign_in" role="button">Log In</a>
      </div>
    </nav>
  <%end%>
</div>
