.container{
  width: 80%;
}

.dd-background{
  background-color: $brand-color;
  margin-top: -50px;
}
.dd-banner{
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dvrahrooa/image/upload/v1630536946/new-back_jbltwb.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 60px;
}

.dd-banner h1{
  width: 60%;
  font-weight: bold;
  color: $element-color;
}

.dd-banner h3{
  color: $element-color;
}

.dd-brief{
  background-color: white;
}
