.dd-background{
  background-color: #fb8500;
}
.dd-banner{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dvrahrooa/image/upload/v1630536946/new-back_jbltwb.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 60px;
}

.dd-banner h1{
  width: 40%;
  // color: white;
  font-weight: bold;
}

.dd-brief{

}
