.tag-item {
    display: inline-block;
    justify-content: center;
  }
  
  .tag-selector {
    position: absolute;
    transform: scale(0);
  }
  
  .tag-selector + label {
    cursor: pointer;
    display: inline-block;
    color: $button-color;
    background-color: transparent;
    border: solid 2px $button-color;
    border-radius: 50rem;
    padding: 0.1rem 0.5rem;
    padding: 6px 18px;
    margin: 6px;
  }
  
  .tag-selector:checked + label {
    cursor: pointer;
    display: inline-block; 
    border: solid 2px $button-color;
    border-radius: 50rem;
    color: white;
    background-color: $button-color;
  }