.container{
  width: 70vw
}
.body-container{
  margin-top: -20px;
}

.container-normal {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.container-large-top {
  margin: 35px 0 15px;
}

.container-show {
  margin: 15px 0;
  padding: 0;
}
