.footer{
  background-color: $brand-color;
  height: 120px;
  padding: 15px;
  position:absolute;
  bottom:0;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-top{
  display:flex;
  justify-content: space-between;

}

.footer-top a{
  font: 15px $brand-font;
  color: white;
  margin: 7px;
}

.fab{
  color: white;
  font-size: 20px;
  margin: 5px
}

.footer-bottom {
  bottom: 0;
  font: 12px $brand-font;
  margin-left: 5px;
}

.footer-bottom p{
  margin:0;
}
