.category-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// .category-item {
//   flex: 0 0 30%;
// }

// .category-selector {
//   position: absolute;
//   transform: scale(0);
// }

// .category-selector + label {
  
//   cursor: pointer;
//   color: $button-color;
//   background-color: transparent;
//   border: solid 2px $button-color;
//   border-radius: 50rem;
//   padding: 0.1rem 0.5rem;
//   padding: 6px 18px;
//   margin-right: 0.6rem;
//   margin-bottom: 0.4rem;
// }

// .category-selector:checked + label {
//   cursor: pointer;
  
//   border: solid 2px $button-color;
//   border-radius: 50rem;
//   color: white;
//   background-color: $button-color;
// }
